<style>
 h10{
  font-size: 20px;
  text-align: center;
  font-weight: bold;}
 hr{
   border-width: 5px;
 }
 
</style>

<hr>
<div class="leftalign" style=" font-size: 30px; margin: 20px; font-weight: bold;"> 
SAY HI ON <br><br>
 <a href="https://www.facebook.com/tiwariprabhab" target="_blank"> Facebook </a> &nbsp;&nbsp;
 <a href="https://www.instagram.com/tiwari_prabhab/" target="_blank"> Instagram </a> &nbsp;&nbsp;
 <a href="https://github.com/PrabhabTiwari" target="_blank"> Github </a> &nbsp;&nbsp;
 
<a href="mailto:"t.prabhab@gmail.com"> Mail </a>  
</div>
<div class="center" style=" font-size: 30px; margin: 20px; font-weight: bold;">
©  2023  Prabhab  Tiwari |  Privacy Policy | Terms & Comditon </div>
</h10>

