
<div class="center">
  <ul>
     
 <div class="logo.html"> </div>
    <li><a class="active" href="index.html">Home</a></li>
    
 <li><a href="{{ '/about' | prepend: site.url }}">Biography</a></li>

<li><a href="{{ '/software' | prepend: site.url }}">Softwares</a></li>
    
 <!--   <li><a href="quotes.html">Quotes</a></li> -->
    
  <!--  <li><a href="contact.html">Contact</a></li> -->
  </ul>
</div></div>

<div class="rectangle">   
<div class="center">
Student, Programmar & Graphic Designer .
</div></div>
