---
description: >
  This layout can be used for any page requring access to the full width of the page, unconstrained by a grid.
---

<!DOCTYPE html>
<html> 
<head>
    <title>Prabhab Tiwari</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&display=swap" rel="stylesheet">
    <link href="./old/main.css" rel="stylesheet">

</head>
<body link="red" vlink="green" alink="black">
  {% include header.html %}
  {% include logo.html %}
    {{ content }}
  {% include footer.html %}
</body>